hr {
    border: .8px solid var(--color-border-gray);
    width: 90%;
    margin: 1.25rem auto;
}

/* Project Main */
.projectMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* Project Image and Video */
.project-vid-hor, 
.project-img {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 1.875rem;
    max-width: 1280px;
    max-height: 920px;
    height: 100%;
    width: 100%;
}
.project-vid-ver {
    display: flex;
    margin-top: 3.125rem;
    max-width: 720px;
    max-height: 1280px;
    height: 100%;
    width: 100%;
  }
  
/* Project Info */
.project-info {
    display: flex;
    position: relative;
    padding: 2.5rem 10rem 3.75rem;
    flex-direction: row;
    width: 100%;
    min-height: 300px;
}
    .project-basics {
        padding-right: 8rem;
    }
    .project-basics h1 {
        font-size: 4rem;
        font-weight: 900;
        width: 350px;
        font-family: 'Boska-Variable', serif;
    }
    .project-basics h2 {
        font-weight: 600;
        margin-bottom: 0.625rem;
    }
    .project-basics h3 {
        font-weight: 400;
    }
    .project-basics h4 {
        padding-top: 2rem;
        font-weight: 400;
    }
    .project-content {
        display: flex;
        flex-direction: column;
    }
    .project-intro h4 {
        font-size: 1.2rem;
        font-weight: 300;
        word-spacing: .1rem;
    }
    .project-keywords {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.75rem;
        padding-top: 3rem;
    }
    .project-keywords span {
        font-size: 0.9rem;
        font-weight: 400;
        color: var(--color-keyword-text);
        padding: 0.25rem 1rem;
        border-radius: 30px;
        background-color: var(--color-keyword-bg);
    }

/* Project Description */
.project-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 1.25rem 5rem;
    box-sizing: border-box;
}
    .description {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 0 5rem 2.5rem;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
    }
    .description-title {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }
    .description-title h3 {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--color-text-muted);
    }
    .description-img {
        display: flex;
        margin: 0 auto;
        justify-items: center;
        overflow: hidden;
        padding: 2.5rem 0 0.5rem;
    }
    .description-img img {
        max-width: 720px;
        max-height: 480px;;
        width: 100%;
        height: auto;
    }
    .largeImage {
        max-width: 1200px !important;
        max-height: none !important;
    }
    .description-body {
        width: 100%;
        padding-top: 2.5rem;
    }
    .description-body h5 {
        font-size: 1.1rem;
        font-weight: 300;
    }
    .description-quote {
        font-family: 'Boska-Variable', sans-serif;
        font-size: 3rem;
        font-variation-settings: 'wght' 300;
        padding-top: 1.25rem;
    }

/* Project Progress */
.progress {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 1.25rem 0 2.5rem;
}
    .progress-title {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: 0 auto;
        padding-bottom: 1.25rem;
    }
    .progress-title h3 {
        font-size: 1.5rem;
        font-weight: 300;
    }
    .progress-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.625rem;
        margin: 0 auto;
        justify-items: center;
        padding: 0 2.5rem;
        overflow: hidden;
    }
    .progress-img img {
        display: flex;
        max-width: 720px;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
        border-radius: 8px;
    }
    .progress-vid {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 0.5rem 2.5rem 0;
    }
    .progress-vid video {
        width: 100%;
        max-height: 815px;
        width: 100%;
        overflow: hidden; 
        border-radius: 8px;
    }


/* Project Credits */
.project-credits {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding: 4rem 5rem;
    box-sizing: border-box;
}
    .credits-title {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: left;
        padding: 0 5rem 1.25rem;
    }
    .credits-title h3 {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--color-text-muted);
    }
    .credits-body {
        width: 60%;
        padding: 0 5rem 2.5rem;
    }
    .credits-body h5 {
        font-size: 0.9rem;
        font-weight: 300;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }



.references {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding: 4rem 5rem;
    box-sizing: border-box;
}
    .references-title {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: left;
        padding: 0 5rem 1.25rem;
    }
    .references-title h3 {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--color-text-muted);
    }
    .references-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.25rem;
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        justify-items: center;
        align-items: left;
        overflow: hidden;
    }
    .references-img img {
        max-width: 720px;
        width: 100%;
    }
    .figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .figcaption {
        font-size: 0.7rem;
        color: var(--color-figcaption);
        margin-top: 1.25rem;
        width: 80%;
    }
    

.banner {
        display: flex;
        margin: 0 auto;
        justify-items: center;
        overflow: hidden;
        padding: 2.5rem 0 1.25rem;
    }
    .banner img {
        width: 100%;
        overflow: hidden;
    }


.youtube {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 2.5rem 0 0.5rem;
        width: 100%;
        max-width: 960px;
        box-sizing: border-box;
    }
    .youtube iframe {
        width: 100%;
        height: 540px;
        max-width: 960px;
        max-height: 540px;
    }


@media (max-width: 935px) {
    .project-vid-ver {
        margin-top: 5.625rem;
    }
    .project-info{
        flex-direction: column;
        padding: 2.5rem 3rem 1rem;
    }
    .project-basics {
        padding-right: 2rem;
        padding-bottom: 1rem;
    }
    .project-basics h1 {
        font-size: 2.5rem;
        overflow-wrap: break-word;
        width: 100%;
    }
    .project-basics h2 {
        font-size: 1.2rem;
    }
    .project-basics h3 {
        font-size: 1rem;
    }
    .project-basics h4 {
        padding-top: 2rem;
        font-weight: 400;
        font-size: 0.9rem;
    }
    .project-intro h4 {
        font-size: 1rem;
        padding-top: 1.25rem;
    }
    .project-keywords {
        padding: 3rem 0 2rem;
    }
    .project-keywords span {
        font-size: 0.85rem;
        padding: 0.25rem 0.5rem;
    }

    .project-description {
        padding: 4rem 0 1rem;
    }
    .description {
        padding: 0 3rem 2.5rem;
        box-sizing: border-box;
    }
    .description-title {
        padding-bottom: 1rem;
    }
    .description-title h3 {
        font-size: 1.2rem;
    }
    .description-img {
        padding: 2.5rem 0 0.5rem;
    }
    .description-img img {
        max-width: 720px;
        max-height: 480px;
        width: 100%;
        height: auto;
    }
    .description-body {
        padding-top: 1rem;
    }
    .description-body h5{
        font-size: 1rem;
    }
    .description-quote {
        font-family: 'Boska-Variable', sans-serif;
        font-size: 2rem;
        font-variation-settings: 'wght' 300;
        padding-top: 2.5rem;
    }

    .progress {
        padding: 1.25rem 2rem 2.5rem;
    }
    .progress-title {
        padding: 0 5rem 2.5rem;
    }
    .progress-title h3 {
        font-size: 1.2rem;
        padding-bottom: 3.75rem;
        justify-content: center;
    }
    .progress-img {
        grid-template-columns: repeat(1, 1fr);
        gap: 0.625rem;
        padding: 0;
    }
    .progress-vid {
        padding: 0.5rem 0;
    }

    .project-credits {
        padding: 1.25rem 0 0;
    }
    .credits-title {
        padding: 0 3rem 1.25rem;
    }
    .credits-title h3 {
        font-size: 1.2rem;
    }
    .credits-body {
        width: 100%;
        padding: 0 3rem 2.5rem;
    }
    .credits-body h5 {
        font-size: 0.6rem;
    }

    .youtube {
        width: 100%;
        max-width: 360px;
        box-sizing: border-box;
        padding-bottom: 0.25rem;
    }
    .youtube iframe {
        width: 100%;
        height: 202px;
        max-width: 360px;
        max-height: 202px;
    }

    .references {
        padding: 1.25rem 3rem 0;
    }
    .references-title {
        padding: 0 0 1.25rem;
    }
    .references-title h3 {
        font-size: 1.2rem;
    }
    .references-img {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.25rem;
    }
    .figcaption {
        font-size: 0.5rem;
        padding-bottom: 2.5rem;
    }
}